
.flex{
    display: flex;
    justify-content: space-between;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 1.2rem;
}
nav ul li a{
    text-decoration: none;
    font-size: .9rem;
    color: var(--title);
    font-weight: 400;
}
nav ul li a:hover{
    color: var(--blue);
    font-size: 1rem;
    font-weight: 500;
}
p{
    color: var(--subtitle);
}
@media (max-width:767px){
    .flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .copyright{
        margin-top: 1rem;
    }
}